---
layout: archive
title: "Research Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

{% assign sorted_portfolio = site.portfolio | sort: 'date' | reverse %}
{% for post in sorted_portfolio %}

  {% if post.name == 'project3' %}
  <br id="portfolio3">

  {% elsif post.name == 'project2' %}
  <br id="portfolio2">

  {% elsif post.name == 'project1' %}
  <br id="portfolio1">
  {% endif %}

  {% include archive-single.html %}

{% endfor %}
